/htdocs/public/hot
/htdocs/public/storage
/htdocs/storage/saml
/htdocs/storage/*.key
/htdocs/.idea
/htdocs/.vscode
/htdocs/.vagrant
/htdocs/Homestead.json
/htdocs/Homestead.yaml
/htdocs/npm-debug.log
/htdocs/yarn-error.log
.DS_Store
Icon
